* {
  box-sizing: border-box;
}
.container {
  background-color: #f7f7f7;
  max-width: 1030px;
  min-height: 100vh;
  margin: 30px auto;
  border: 20px;
  padding: 30px;
}
h1 {
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
}
.input1 {
  width: 340px;
  height: 30px;
  border-radius: 10px 15px 10px 15px;

  outline: none;
  border-color: rgb(219, 207, 33);
  
}
.button1 {
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.card {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.card-image {
  width: 100%;
}
.card-body {
  padding: 10px;
  text-align: center;
}
.category {
  color: #a1a1a1;
}
a {
  background-color: #ffba5a;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
